* {box-sizing: border-box;
margin: 0;
padding: 0}

body {
    font-family: Times New Roman, Times, serif;
    overflow-x: hidden;
    background-color:#F7E7CE; /* Change the background color to olive */

}

span{
    color: rgb(206, 5, 62);
	font-size:18px;
}

/* Header/Logo Title */
.header {
  font-family: "Times New Roman", Times, serif; /* Apply Times New Roman font */
  overflow: hidden;
  width: 100%;
  height: 58px;
  background: #ab4e52;
  padding: 2px 10px;
  border-bottom: 0.1px solid white; /* Added white border below the header */
}
  
  .header img {
  float: left;
  height: 50px;
  width: auto; /* Adjusted width to maintain aspect ratio */
  padding-left: 15px; /* logo gerakkk ke kiri dah */
  overflow: hidden; /* Clips the image to the border-radius */
  padding-top: 2px;
}

  .header a {
    float:inline-start;
    color: white;
    text-align: center;
    padding: 12px;
	padding-right: 20px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
  }
  

  .header a:hover {
    background-color: white;
    color: black; /*logIn color tulisan*/
  }
  

  .header-right {
    float: right;
  }

/*Navigation*/


ul {
  font-family: "Times New Roman", Times, serif; /* Apply Times New Roman font */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ab4e52;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.navigations {
  background-color: #ab4e52;
  color: #fff; 
  border-bottom: 0.1px solid white; /* Added white border below the header */
}

.navigations ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  overflow: hidden;
}

.navigations li {
  margin-left: 20px; /* Adjust margin as needed */
}

.navigations li a, .dropbtn {
  color: #FFF9F0;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Adjust the font size as needed */
}



li.dropdownn {
  display: inline-block;
}


.dropdown-content {
  color:black;
  display: none;
  position: absolute;
  background-color: #ab4e52; /*warna bg bila hover*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: #ab4e52;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color:black;
}

.dropdownn:hover .dropdown-content {
  display: block;
}

.navigations a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.3s;
}
.navigations a:hover {
    color: black; /* color when hover to the nav*/
}


 /*Start slideshow*/
 
 .parent {
font-family: Times New Roman, Times, serif;
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #944142;
  height: auto;
  max-width:auto;
	max-height:auto;
}

.child1 {
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
    height: auto;
    margin-top: 1px;
    text-align: center;
    margin-bottom: 18px;
    position: relative;
    width: 300px; /* Set a fixed width for child1 */
    justify-content: center;
	background-color: #ece2dc;
	max-width:auto;
	max-height:auto;
}

.child1 img {
  padding:0px;
  padding-top:0px;
  vertical-align: center;
  width: 200px;
  height: 350px;
  padding-right : 2px;
  padding-left: 2px;
  max-width:auto;
  max-height:auto;
}


.carousel1 {
    overflow: hidden;
    height: 350px;
}

.slideshow-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.slideshow-img.move-up {
    transform: translateY(-100%);
}


.child2 img {
  max-width: 100%; /* Ensure image fits within container */
  max-height: 100%;
  width: auto;
  height: 350px;
  padding-right: 70px;
max-width:auto;
	max-height:auto;
}

.child2 {
  flex: 1;
  border: 1px solid black;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column; /* Display child2 contents in a column */
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  background-color: #ece2dc;
  max-width:auto;
	max-height:auto;
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the height of the slideshow container 100% */
  position: fixed;
}

.slideshow-img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  padding-right: 3px;
  margin-right: 50px;}
  
 .carousel-inner {
    position: absolute;
    bottom: 40%;
    left: 10%;
    padding-left: 10px;
    color: white;
  }
  
.carousel-content {
  display: flex;
  justify-content: space-between; /* Space between the child elements */
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
}

.content {
  flex: 1;
  text-align: left; /* Align text to the left */
  border: 1px solid white;
  padding-bottom: 10px;
}

.carousel {
  flex: 1;
  padding: 0 20px; /* Adjust padding as needed */
}

.carousel-content h5 {
  color: brown;
  line-height: 1.5;
}
  
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--main-color);
    transition: 1.5s;
	z-index:1000; 
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--sec-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}


  /* Page Footer */
.footer {
  font-family: "Times New Roman", Times, serif; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #ab4e52;
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 1px;
  z-index:2;
  border-top: 0.1px solid white; /* Added white border below the header */
}
